NODE_ENV=development
PORT=4003
MONGODB_URI=
REDIS_URL=redis://localhost:6379
CORS_ORIGIN=http://localhost:5173
JWT_ACCESS_SECRET=
PRODUCT_SERVICE_URL=http://localhost:4002
CART_TTL_AUTHENTICATED=604800
CART_TTL_GUEST=86400
