NODE_ENV=development
PORT=4004
MONGODB_URI=
JWT_ACCESS_SECRET=
CART_SERVICE_URL=http://localhost:4003
PRODUCT_SERVICE_URL=http://localhost:4002
CORS_ORIGIN=http://localhost:5173
NOTIFICATION_SERVICE_URL=http://localhost:4006
